.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
}

.welcome-header__title {
  font-size: 25px;
  font-weight: 600;
  color: var(--brown);
  margin-bottom: 30px;
}

.welcome-header__text {
  font-size: 13px;
  opacity: 0.7;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}

.login-form input {
  margin-bottom: 25px;
  padding: 15px 0px;
  font-size: 25px;
  border: none;
  border-bottom: 1px solid gainsboro;
  border-radius: 13px;
}

.login-form input[type="submit"] {
  background-color: var(--brown);
  cursor: pointer;
  border-radius: 15px;
}

.login-form a {
  text-align: center;
  color: inherit;
  font-size: 15px;
  opacity: 0.5;
  cursor: pointer;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: var(--brown);
}
