.main-chat__date {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.chat__date {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  color: whitesmoke;
  padding: 20px;
  border-radius: 25px;
}
.chat-content {
  display: flex;
}

.chat-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-content__fname {
  display: block;
  margin-bottom: 5px;
}
.chat-content__text {
  display: flex;
  align-items: flex-end;
}
.chat-content__bubble {
  background-color: white;
  padding: 11px;
  border-radius: 15px;
  font-size: 14px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.chat-conten__time {
  font-size: 12px;
  opacity: 0.5;
}
.chat-content__own {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.chat-content__owntext {
  display: flex;
  align-items: flex-end;
}
.chat-content__mebubble {
  background-color: violet;
  padding: 11px;
  border-radius: 15px;
  font-size: 14px;
  border-top-right-radius: 0px;
  margin-right: 5px;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  box-sizing: border-box;
  padding: 5px 25px;
}
.reply__column:first-child {
  width: 10%;
}
.reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply__column input {
  padding: 12px;
  width: 97%;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.3);
}
.reply i {
  color: blueviolet;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 13px;
}
.reply__column:last-child > i {
  right: 20px;
}
.reply__column:last-child button {
  right: -10px;
  border: none;
  background-color: white;
}
.reply__column input:focus {
  border-color: slateblue;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply input:focus {
  transform: translateY(-5px);
}
.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
