.main-chat__date {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.chat__date {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  color: whitesmoke;
  padding: 20px;
  border-radius: 25px;
}
.chat-content {
  display: flex;
}

.chat-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-content__fname {
  display: block;
  margin-bottom: 5px;
}
.chat-content__text {
  display: flex;
  align-items: flex-end;
}
.chat-content__bubble {
  background-color: white;
  padding: 11px;
  border-radius: 15px;
  font-size: 14px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.chat-conten__time {
  font-size: 12px;
  opacity: 0.5;
}
.chat-content__own {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.chat-content__owntext {
  display: flex;
  align-items: flex-end;
}
.chat-content__mebubble {
  background-color: violet;
  padding: 11px;
  border-radius: 15px;
  font-size: 14px;
  border-top-right-radius: 0px;
  margin-right: 5px;
}
.reply {
  bottom: 0;
}
.reply-element {
  background-color: white;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
