.main-header {
  padding: 35px;
}
.main-header h1 {
  color: wheat;
  font-size: 30px;
  font-weight: 600;
}
.main-header__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__column span {
  padding: 0px 10px;
}
@keyframes cogturn {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.main-header__icons .fa-cog:hover {
  animation: cogturn 1.5s linear infinite;
}
